<div>
    <template>
  
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Benvenuto {{customer.CustomerUsername}}</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#" v-on:click="logout">Esci</a>
            </li>          
          </ul>
        </div>
      </nav>
  
      <div class="container">
        <div class="row main">
            <div>
                
            </div>
        </div>
      </div>
    </template>
  </div>