<div>
  <template>
    <div class="container">
      <p align="left">
        <a href="#">Benvenuto {{customer.CustomerUsername}}</a>
      </p>

      <div class="bd-example bd-example-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="true">Importazione</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="customer-tab" data-toggle="tab" href="#customers" role="tab" aria-controls="customers" aria-selected="false">Clienti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="invoice" aria-selected="false">Fatture</a>
          </li>
          <li class="nav-item">
              <a v-on:click="logout" class="nav-link" id="logout-tab" data-toggle="tab" href="#logout" role="tab" aria-controls="logout" aria-selected="false">Esci</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="import" role="tabpanel" aria-labelledby="import-tab">
            <p>Importazione file Daenea Easy Fact</p>
            <input type="file" v-on:change="import_from_danea" />
          </div>
          <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
            <p>Anagrafica clienti</p>
            <input v-model="txt_search_customer" v-on:change="search_customer" />
            <vue-good-table title="Elenco Clienti" :columns="columns_customers" :rows="rows_customers" :lineNumbers="true" :globalSearch="true"
              :paginate="true" styleClass="table condensed table-bordered table-striped">
              <template slot="table-row" slot-scope="props">
                <td>{{ props.row.name }}</td>
                <td>{{ props.row.codfis }} - {{ props.row.pariva }}</td>
              </template>
            </vue-good-table>
          </div>
          <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
            <p>Consultazione Fatture</p>
            <input v-model="txt_search_invoice" v-on:change="search_invoice" />
            <vue-good-table title="Elenco Fatture" :columns="columns_invoice" :rows="rows_invoice" :lineNumbers="true" :globalSearch="true"
              :paginate="true" styleClass="table condensed table-bordered table-striped">
              <template slot="table-row" slot-scope="props">
                <td>{{ props.row.number }}</td>
                <td>{{ props.row.date }}</td>
                <td>{{ props.row.codfis }} - {{ props.row.pariva }}</td>
                <td v-on:click="print_invoice(props.row)">Stampa fattura</td>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
    <div class="row main">
    </div>

  </template>
</div>