<div>
  <template>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Benvenuto {{customer.CustomerUsername}}</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#" v-on:click="logout">Esci</a>
            <!--a href="#" v-on:click="load_invoices">Aggiorna lista fatture</a-->
            
          </li>          
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row main">
          <div>
              <vue-good-table
                title="Lista Fatture"
                :columns="columns"
                :rows="rows"
                :lineNumbers="true"                
                :globalSearch="true"
                :paginate="true"
                styleClass="table condensed table-bordered table-striped">
                <template slot="table-row" slot-scope="props">                 
                  <td>{{ props.row.Number }}</td>                                                     
                  <td>{{ props.row.Date }}</td>
                  <td>{{ props.row.CustomerFiscalCode }} <br> {{ props.row.CustomerVatCode }}</td>
                  <td v-on:click="print_invoice(props.row)">Stampa fattura</td>
                </template>
              </vue-good-table>            
          </div>
      </div>
    </div>
  </template>
</div>